.body{
    display: flex;
    align-items: center;
    justify-content: center;
}
/**======index======*/
.page {
    width: 100%;
    height: 100%;
    position: relative;
}

.backdrop {
    width: 100%;
    height: 100%;
    display: block;
}

.button-1 {
    background-color: #1746A2;
    color: #ffffff; 
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 75%;
    left: 10%;
    text-align: center;
    text-decoration: none;
    align-items: center;
}

.button-1:hover {
    background-color: rgb(81, 81, 255);
}

.button-2 {
    background-color: #1746A2;
    color: #ffffff; 
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    position: absolute;
    top: 75%;
    left: 20%;
    text-align: center;
    text-decoration: none;
    align-items: center;
}

.button-2:hover {
    background-color: rgb(81, 81, 255);
}

@media screen and (max-width: 650px) {
      .backdrop {
        width: 100%;
      }
      .hero-text {
        width: 100%;
        display: block;
      } 
}
    
/**===daftar===**/
body.dark-bg {
    background-color: #FF731D;
}

.header {
    width: 100%;
    background-color: #FF731D;
    border-radius: 8px;
    padding: 5px;
    align-items: center;
    text-align: center;
}

.header-left {
    float: left;
    padding-left: 100px;
    display: flex;
}

.header-left a {
    list-style-type: none;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    display: flex;
    padding-left: 8px;
}

.header-right {
    float: right;
    padding-top: 0px;
    padding-right: 80px;
}

.menu b {
    color: cornflowerblue;
}

nav {
    width: 100%;
    display: flex;
    line-height: 60px;
    position: sticky;
    justify-content: center;
    top: 0;
    background: #ffffff;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    color: #364f6b;
}

@media screen and (max-width: 650px) {
    nav {
        width: 100%;
        display: grid;
      } 
}

.logo {
    display: flex;
    align-items: center;
    padding: 1px;
}

.logo img {
    height: auto;
    width: 50px;
    background-color: #fff;
    border-radius: 100px;  
}

.container-register {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.register-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000;
}

.register-form label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
}

.register-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.register-form button {
    background-color: #1746A2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.register-form button:hover {
    background-color: rgb(81, 81, 255);
}

/* Pop-up overlay */
.login-popup {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.login-popup button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1746A2;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}
.login-popup button:hover {
    background-color: rgb(81, 81, 255);
}
.login-popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    text-align: center;
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/**===login===**/
body.dark-bg {
    background-color: #FF731D;
}
.container-login {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
}

.login-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form button {
    background-color: #1746A2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: rgb(81, 81, 255);
}
/*login pop up*/
.login-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.login-popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/**====home====**/
/*=Materi=*/
.home {
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.row-materi {
    border-radius: 8px;
    display: grid;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    margin-left: 65px;
    width: 1100px;
    background-color: #FFF7E9;
}

.row-materi h1 {
    size: 40px;
    background-color: #FFF7E9;
    width: auto;
    border-radius: 8px;
    padding: 4px;
    justify-content: center;
    text-align: center;
}

.column{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    grid-gap: 30px;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
}
.column > article{
    box-shadow: 0px 0px 5px 0px black;
    border-radius: 20px;
    text-align: center;
}

.more{
    text-align: center;
    display: grid;
    text-decoration: none;
    border: #000;
}

/*=Video=*/
.video{
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.card .video video{
    width: 450px;
    height: 100%;
    object-fit: cover;
    display: grid;
}
.video-materi{
    max-width: 1100px;
    width: 1100px;
    position: relative;
    margin: 55px;
    justify-content: center;
    padding-left: 40px;
    background-color: #1746A2;
    border-radius: 10px;
}
.video-materi h1 {
    text-align: center;
    color: #fff;
}
.video-materi .slide{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100%/2) - 12px);
    gap: 20px;
    overflow: hidden;
    margin: 18px;
    scroll-behavior: smooth;
    padding-left: 0;
}
.slide.dragging .card{
    cursor: grab;
    user-select: none;
}
.slide .card{
    width: 100%;
    height: 100%;
    display: flex;
    cursor: pointer;
    flex-direction: column;
}
.video-materi i{
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.video-materi i:first-child{
    left: -22px;
}
.video-materi i:last-child{
    right: -22px;
}
@media (max-width: 600px) {
    .column{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 600px) {
    .column{
        grid-template-columns: repeat(1,1fr);
    }
}
@media screen and (max-width: 600px) {
    .video-materi .slide{
        grid-auto-columns: calc((100%/2) - 9px);
        gap: 10px;
    }
}
@media screen and (max-width: 600px) {
    .video-materi .slide{
        grid-auto-columns: 100%;
        gap: 5px;
    }
}

/*=Soal Home=*/
.soal {
    border-radius: 8px;
    display: grid;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    margin-left: 65px;
    width: 1100px;
    background-color: #FFF7E9;
}
/*===Materi===*/
.content {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
    cursor: pointer;
}

.section {
    margin-bottom: 20px;
}

.dropdown-content {
    display: none;
}

p {
    color: #555;

}
.content button {
    background-color: #1746A2;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.content button:hover {
    background-color: rgb(81, 81, 255);
}

.section {
    border-radius: 4;
    display: block;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    background-color: white;
}
.bab1 {
    border-radius: 4;
    display: block;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #FFF7E9;
}
.bab1 h1 {
    background-color: #FFF7E9;
    border-radius: 8px;
    padding: 8px;
    margin: 0;
    width: fit-content;
}
.bab2 {
    border-radius: 4;
    display: block;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #FFF7E9;
}

.bab2 h1 {
    background-color: #FFF7E9;
    border-radius: 8px;
    padding: 8px;
    margin: 0;
    width: fit-content;
}

@media screen and (max-width: 650px) {
    .content{
      width: 100%;
      display: block;
    }
  }

/*==Footer==*/
footer {
    background-color: #1746A2;
    color: #fff;
    padding: 30px 0;
    text-align: center;
    margin-top: 20px;
}

.company-info {
    max-width: 600px;
    margin: 0 auto;
}

.company-info h2 {
    color: #fff;
}

.company-info p {
    color: #fff;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
    color: #3498db;
}

/*==Materi OPEN==*/
.isi {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.materi-1 {
    border-radius: 4;
    display: block;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #FFF7E9;
}
.materi-1 h1 {
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
}
.materi-2 {
    border-radius: 4;
    display: block;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #FFF7E9;
}
.materi-2 h1 {
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
}
.materi-3 {
    border-radius: 4;
    display: block;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #FFF7E9;
}
.materi-3 h1 {
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
}
h1, h2 {
    color: #333;
}

.materi {
    display: none;
}

.active {
    display: block;
}

p {
    color: #555;
}

.navigation {
    margin-top: 20px;
}

button {
    background-color:#1746A2;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: rgb(81, 81, 255)
}

@media screen and (max-width: 650px) {
    .isi{
      width: 100%;
      display: block;
    }
  }

/*==OUR TEAM==*/
.our-team {
    max-width: 800px;
    margin: 10px auto;
    text-align: center;
}

h2 {
    color: #333;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.ceo {
    padding: 20px;
    background-color: #FFF7E9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: auto;
    margin-bottom: 20px;
    margin-top: 10px;
}
.ceo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.team-member {
    padding: 20px;
    background-color: #FFF7E9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.team-member h3 {
    color: #333;
}

.team-member p {
    color: #777;
}
@media screen and (max-width: 650px) {
    .our-team{
      width: 100%;
      display: block;
    }
  }

/*==Soal==*/
.btn1{
    float: left;
}
