body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

textarea {
    resize: none;
}

/*======index======*/
.page {
    width: 1200px;
    height: 800px;
    position: relative;
    margin: 0;
}

.backdrop {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0;
}

.button-1 {
    background-color: #1746A2;
    color: #ffffff; 
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 75%;
    left: 10%;
}

.button-1:hover {
    background-color: rgb(81, 81, 255);
}

.button-2 {
    background-color: #1746A2;
    color: #ffffff; 
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    position: absolute;
    top: 75%;
    left: 20%;
    text-decoration: none;
}

.button-2:hover {
    background-color: rgb(81, 81, 255);
}

@media screen and (max-width: 650px) {
      .backdrop {
        width: 100%;
      }
      .hero-text {
        width: 100%;
        display: block;
      } 
}
    
/*==Header==*/
.header {
    width: 100%;
    background-color: #FF731D;
    text-align: center;
    padding: 10px;
    border-radius: 0 0 8px 8px;
    width: 100%;
}

.header-left {
    float: left;
    padding-left: 100px;
    display: flex;
}

.header-left a {
    list-style-type: none;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    display: flex;
    padding-left: 8px;
}

.header-right {
    float: right;
    padding-top: 0px;
    padding-right: 80px;
}

.menu b {
    color: cornflowerblue;
}

nav {
    width: 100%;
    display: flex;
    line-height: 60px;
    position: sticky;
    justify-content: center;
    top: 0;
    background: #ffffff;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    color: #364f6b;
}

@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: center;
    } 
}

.logo {
    display: flex;
    align-items: center;
    padding: 1px;
}

.logo img {
    height: auto;
    width: 50px;
    background-color: #fff;
    border-radius: 100px;  
}

/*===Daftar===*/
/**===daftar===**/
body.dark-bg {
    background-color: #FF731D;
}

.container-register {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.register-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000;
}

.register-form label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
}

.register-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.register-form button {
    background-color: #1746A2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.register-form button:hover {
    background-color: rgb(81, 81, 255);
}

/* Pop-up overlay */
.login-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.login-popup button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1746A2;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}
.login-popup button:hover {
    background-color: rgb(81, 81, 255);
}
.login-popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    text-align: center;
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.login-popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/**===login===**/
body.dark-bg {
    background-color: #FF731D;
}
.container-login {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
}

.login-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form button {
    background-color: #1746A2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: rgb(81, 81, 255);
}

/*login pop up*/
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.popup h1 {
    font-size: 20px;
    color: red;
}

.popup h2 {
    font-size: 20px;
    color: green;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/**====home====**/
/*=Materi=*/
.home {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row-materi {
    border-radius: 8px;
    display: grid;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    margin-left: 5px;
    width: 1100px;
    background-color: #FFF7E9;
}

.row-materi h1 {
    size: 40px;
    background-color: #FFF7E9;
    width: auto;
    border-radius: 8px;
    padding: 4px;
    justify-content: center;
    text-align: center;
}

.column{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    grid-gap: 15px;
    width: 100%;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
}
.column > article{
    box-shadow: 0px 0px 5px 0px black;
    border-radius: 10px;
    text-align: center;
    width: auto;
}

.more{
    text-align: center;
    display: grid;
    margin-top: 20px;
    text-decoration: none;
    border: #000;
}

/*=Video=*/
.video{
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.card .video video{
    width: 450px;
    height: 100%;
    object-fit: cover;
    display: grid;
}
.video-materi{
    max-width: 1100px;
    width: 1100px;
    position: relative;
    margin: 55px;
    justify-content: center;
    padding-left: 40px;
    background-color: #1746A2;
    border-radius: 10px;
}
.video-materi h1 {
    text-align: center;
    color: #fff;
}
.video-materi .slide{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100%/2) - 12px);
    gap: 20px;
    overflow: hidden;
    margin: 18px;
    scroll-behavior: smooth;
    padding-left: 0;
}
.slide.dragging .card{
    cursor: grab;
    user-select: none;
}
.slide .card{
    width: 100%;
    height: 100%;
    display: flex;
    cursor: pointer;
    flex-direction: column;
}
.video-materi i{
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.video-materi i:first-child{
    left: -22px;
}
.video-materi i:last-child{
    right: -22px;
}

@media (max-width: 600px) {
    .home {
        width: calc(100% - 40px);
        margin: 20px 20px 0 20px;
    }
    .row-materi {
        width: 700px;
        display: grid;
    }
    .soal{
        width: 700px;
        display: grid;
    }
    .video-materi {
        width: 700px;
        display: grid;
    }
    .column{
        grid-template-columns: repeat(1,1fr);
        width: auto;
    }
    .video-materi .slide{
        grid-auto-columns: 100%;
        gap: 5px;
    }
    .video {
        width: calc(100% - 40px);
        margin: 20px 20px 0 20px;
    }
}


/*=Soal Home=*/
.soal {
    border-radius: 8px;
    display: grid;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    margin-left: 5px;
    width: 1100px;
    background-color: #FFF7E9;
}
 .soal h1 {
    size: 40px;
    background-color: #FFF7E9;
    width: auto;
    border-radius: 8px;
    padding: 4px;
    justify-content: center;
    text-align: center;
}

/*===Materi===*/
.content {
    max-width: 1000px;
    margin: 20px;
    margin-left: 150px;
    display: block;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

h1, h2 {
    color: #333;
    cursor: pointer;
}

.section {
    margin-bottom: 20px;
}

.dropdown-content {
    display: none;
}

p {
    color: #555;

}
.content button {
    background-color: #1746A2;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.content button:hover {
    background-color: rgb(81, 81, 255);
}

.section {
    border-radius: 4;
    display: block;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    background-color: white;
}
.bab1 {
    border-radius: 4;
    display: block;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #FFF7E9;
}

.bab2 {
    border-radius: 4;
    display: block;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #FFF7E9;
}


.bab3 {
    border-radius: 4;
    display: block;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #FFF7E9;
}

@media screen and (max-width: 650px) {
    .content{
      width: 100%;
      display: block;
    }
  }

/*==Footer==*/
footer {
    background-color: #1746A2;
    color: #fff;
    text-align: center;
    margin-top: 40px;
    padding: 10px;
    bottom: 0;
}

.company-info {
    max-width: 600px;
    margin: 0 auto;
}

.company-info h2 {
    color: #fff;
}

.company-info p {
    color: #fff;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
    color: #3498db;
}

/*==Materi OPEN==*/
.isi {
    max-width: 1000px;
    margin: 20px;
    margin-left: 150px;
    text-align: left;
    align-items: left;
    display: block;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
.materi-1 {
    border-radius: 4;
    display: block;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #FFF7E9;
}
.materi-1 p {
    text-indent: 10px;
}
.materi-1 h1 {
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
}
.materi-2 {
    border-radius: 4;
    display: block;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #FFF7E9;
}
.materi-2 h1 {
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
}
.materi-3 {
    border-radius: 4;
    display: block;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #FFF7E9;
}
.materi-3 h1 {
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
}
h1 {
    color: #333;
    font-size: 30px;
}

.materi {
    display: none;
}

.active {
    display: block;
}

p {
    color: #555;
}

.navigation {
    margin-top: 20px;
}

button {
    background-color:#1746A2;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: rgb(81, 81, 255)
}

@media screen and (max-width: 650px) {
    .isi{
      width: 100%;
      display: block;
    }
  }

/*==OUR TEAM==*/
.our-team {
    max-width: 1000px;
    margin: 20px;
    margin-left: 150px;
    text-align: center;
    align-items: center;
    display: block;
    background-color: #FFF7E9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
    color: #333;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.ceo {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: auto;
    margin-bottom: 20px;
    margin-top: 10px;
}
.ceo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.team-member {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.team-member h3 {
    color: #333;
}

.team-member p {
    color: #777;
}
@media screen and (max-width: 650px) {
    .our-team{
      width: 100%;
      display: block;
    }
  }

/*==Soal==*/
.btn1{
    float: left;
}

 .inputsoal {   
    margin-bottom: 16px;
    resize: vertical; 
    height: auto;
    margin-left: 0;
}

.soal-open {
    border-radius: 8px;
    display: grid;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    margin-left: 115px;
    width: 1100px;
    background-color: #FFF7E9;
}

.soal-open h1 {
    text-align: left;
}

/*==hasil-jawaban==*/
.isi h1{
    margin: 0;
}

.hasil-jawaban {
    border-radius: 4;
    display: block;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #FFF7E9;
}

.nama {
    display: flex;
    flex-direction: column;
}

.nama h1 {
    font-size: 25px;
    margin: 0;
}

.nama h5 {
    font-size: 12px;
    margin: 0;
    margin-bottom: 10px;
    color: #1746A2;
}
.materi-active {
    padding: 10px;
}

.isi p {
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.5);
}

/*==Carousel==*/
.carousel-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 20px;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
}

.carousel img {
    width: 100%; 
    height: auto;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}