.body{
    display: flex;
    align-items: center;
    justify-content: center;
}
/**======index======*/
.header {
    width: 1100px;
    margin: auto;
    padding: 10px;
    height: auto;
}
.header-left {
    float: left;
}
.header-right {
    float: right;
}

.menu b {
    color: cornflowerblue;
}

nav {
    width: 100%;
    display: flex;
    line-height: 60px;
    position: sticky;
    justify-content: center;
    top: 0;
    background: #ffffff;
    z-index: 1;
    border-bottom:1px solid #364f6b;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    color: #364f6b;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 160px;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 100px;
    width: 100px;
}
.hero-text button {
    background-color: blue;
    color: #ffffff; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
}

.hero-text button:hover {
    background-color: rgb(81, 81, 255);
}

/**===daftar===**/
body.dark-bg {
    background-color: #cfa310;
}
.container-register {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.register-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000;
}

.register-form label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
}

.register-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.register-form button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.register-form button:hover {
    background-color: rgb(81, 81, 255);
}
/* Pop-up overlay */
.login-popup {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.login-popup button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}
.login-popup button:hover {
    background-color: rgb(81, 81, 255);
}
.login-popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    text-align: center;
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/**===login===**/
body.dark-bg {
    background-color: #cfa310;
}
.container-login {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
}

.login-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: rgb(81, 81, 255);
}
/*login pop up*/
.login-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.login-popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/**====home====**/
.column{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 80px;
    align-items: center;
    grid-gap: 40px;
}
.column > article{
    box-shadow: 0px 0px 5px 0px black;
    border-radius: 20px;
    text-align: center;
    transform: transition;
}
.column > article:hover {
    transform: scale(1.2);
}
.more{
    text-align: center;
}

.video{
    position: relative;
    float: center;
    width: 1100px;
}
.card .video video{
    width: 450px;
    height: 100%;
    object-fit: cover;
    display: grid;
}
.video-materi{
    max-width: 1100px;
    width: 100%;
    position: relative;
    margin: 55px;
}
.video-materi .slide{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100%/2) - 12px);
    gap: 20px;
    overflow: hidden;
    margin: 18px;
    scroll-behavior: smooth;
}
.slide.dragging .card{
    cursor: grab;
    user-select: none;
}
.slide .card{
    width: 100%;
    height: 100%;
    display: flex;
    cursor: pointer;
    flex-direction: column;
}
.video-materi i{
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.video-materi i:first-child{
    left: -22px;
}
.video-materi i:last-child{
    right: -22px;
}
@media (max-width: 900px) {
    .column{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 500px) {
    .column{
        grid-template-columns: repeat(1,1fr);
    }
}
@media screen and (max-width: 900px) {
    .video-materi .slide{
        grid-auto-columns: calc((100%/2) - 9px);
        gap: 10px;
    }
}
@media screen and (max-width: 500px) {
    .video-materi .slide{
        grid-auto-columns: 100%;
        gap: 5px;
    }
}

/*===Materi===*/
.content {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
    cursor: pointer;
}

.section {
    margin-bottom: 20px;
}

.dropdown-content {
    display: none;
}

p {
    color: #555;

}
.content button {
    background-color: blue;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.content button:hover {
    background-color: rgb(81, 81, 255);
}

.section {
    border-radius: 4;
    display: block;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.bab1 {
    border-radius: 4;
    display: block;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.bab2 {
    border-radius: 4;
    display: block;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 650px) {
    .content{
      width: 100%;
      display: block;
    }
  }

/*==SOAL OPEN==*/
.isi {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

.materi {
    display: none;
}

.active {
    display: block;
}

p {
    color: #555;
}

.navigation {
    margin-top: 20px;
}

button {
    background-color: blue;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: rgb(81, 81, 255)
}

@media screen and (max-width: 650px) {
    .isi{
      width: 100%;
      display: block;
    }
  }

/*==OUR TEAM==*/
.our-team {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

h2 {
    color: #333;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.team-member {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.team-member h3 {
    color: #333;
}

.team-member p {
    color: #777;
}
@media screen and (max-width: 650px) {
    .our-team{
      width: 100%;
      display: block;
    }
  }